.navbar-custom {
    background-color: #cc0713;
    border-color: #ac0610;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f70f1d), to(#cc0713));
    background-image: -webkit-linear-gradient(top, #f70f1d, 0%, #cc0713, 100%);
    background-image: -moz-linear-gradient(top, #f70f1d 0%, #cc0713 100%);
    background-image: linear-gradient(to bottom, #f70f1d 0%, #cc0713 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff70f1d', endColorstr='#ffcc0713', GradientType=0);
    /*JB*/
    border-radius: 6px 6px 1px 1px;
}

.editor{
    background-color: #ffffff;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
}


/*JB*/
body {
    background-color: #efefef;
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-showcase {
    margin-top: 2px;
    padding-left: 0;
    padding-right: 0;
}

/* unfortunate hack since Webkit has an issue with Margin-top */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .banner-showcase {
    margin-top: 0px;
    }
}

.banner-izquierdo{
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
.banner-izquierdo img {
    max-height: 420px;
    margin: 0 auto;
}

.banner-abajo-interior img{
    margin-top: 30px;

}

.slider-titulo-item{
    margin-top: -20px;
}

.banner-derecho img{
    max-height: 120px;
    margin: 0 auto;
}

.titulo-banner{
    margin-bottom: 7px;
    padding-bottom: 1px;
    font-size: 16px;
    color: #d72727;
    /*font-weight: 600;*/
    margin-top: 10px;
}
.titulo-banner a{
    color: #d72727;
    text-decoration: none;
}
.titulo-banner a:hover{
    color: #d72727;
}

.titulo-noticia-banner{
    font-size: 18px;
    color: #5f5f5f;
    margin: 3px 0 3px 0px;
    font-weight: 600px;
}

.titulo-noticia-banner a{
    text-decoration: none;
    color: #5f5f5f;
}
.titulo-noticia-banner a:hover{
    color: #c40000;
}

.tabla-lista-noticias{
    margin-top: 20px;
}

.separador-pequenio{
    margin: 6px 0 8px 0;
}

.extender-imagen img{
    margin-bottom: 15px;
    width: 100%;
}

.extender-imagen .imagen-interior-propio-tamanio {
    margin-bottom: 15px;
    max-width: 250px;
}

.extender-imagen .imagen-interior-propio-tamanio-conti {
    margin-bottom: 15px;
    max-width: 150px;
}

.extender-imagen .imagen-interior-propio-tamanio-conti2 {
    margin-bottom: 15px;
    max-width: 220px;
}

.espaciar-abajo{
    margin-bottom: 20px;
}

.contenedor-primera-noticia-centro{
    margin-bottom: 15px;
}

.cuerpo-noticia-banner{
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 13;
}
.cuerpo-noticia-banner a{
    text-decoration: none;
    color: #000000;
}
.cuerpo-noticia-banner a:hover{
    color: #c40000;
}
.cuerpo-noticia-banner a.leer-mas{
    color: #f74e04;
}

.separador-categoria{
    margin: 20px 0 20px 0;
}

.navbar-inverse {
    border-radius: 1px 1px 4px 4px;
    min-height: 35px;
}

.navbar-inverse .navbar-brand {
    height: 35px;
    line-height: 6px;
}

.alinear-derecha{
    text-align: right;
}

/*.botones-facebook{
    margin: 10px 10px 10px 10px;
}*/

.noPadding {
    padding: 0px;
}

.navbar {
    margin-bottom: 1px;
}
 
.navbar-inverse .navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 8px;
}

}
.navbar-custom .navbar-brand {
    color: #ffffff;
}

.articulo-normal {
    background-color: #ffffff;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    /*padding-left: 2px;
    padding-right: 2px;*/
    /*padding: 0px 0px 0px 0px;*/
}

.disminuir-izquierdo {
    padding-left: 0px;
    padding-right: 5px;
}

.disminuir-centro {
    padding-left: 5px;
    padding-right: 5px;
}

.disminuir-derecho {
    padding-left: 5px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.centro-noticia-principal{
    margin-bottom: 15px;
}

.banner-centro{
    padding: 0px;
    margin: 8px 0 0 0;
}
.banner-centro img{
    width: 100%;
}

.banner-categoria{
    margin-bottom: 20px;
}

.img-ajustar-grandes{
    width:100%; 
    max-height: 200px;
}
.img-ajustar-largos{
    width:100%; 
    max-height: 70px;
}

.contenido-centrado{
    text-align: center;
}

.izquierdo{
    padding: 0px;
}

#showcase{
    margin-top: 8px;
}

#abajo{
    margin-top: 8px;
    background-color: #ffffff;
    border-radius: 4px;
    padding-bottom: 15px;
}

#abajo div{
    padding: 0 10px 0 10px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-example-generic {
    padding-right: 0px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.carousel-caption {
    padding: 5px;
    background-color: #000000;
    left: 10%;
    right: 10%;
    opacity:0.7;
    border-radius: 4px;
    bottom: 40px;
}
.carousel-indicators{
    bottom: 7px;
}

.panel-footer{
    display: none;
}

.tarjetaDestacados{
    padding-left: 5px;
    padding-right: 0;
    margin-bottom: 0px;
    margin-top: 2px;
    height: auto;
}

.sliderDestacados, .cuerpoNoticias{
    padding-left: 0;
    padding-right: 0;
}

.cuerpoNoticias{
    padding-top: 0px;
    margin-top: 7px;
}

.sliderDestacados {
    margin-top: 4px;
}

#noticiaExtendida{
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 4px;
    padding-bottom: 20px;
}

#noticiaBusqueda{
    background-color: #ffffff;
    border-radius: 4px;
    margin-top: 4px;
    padding-bottom: 20px;
    min-height: 370px;
}

.hrbusqueda{
    margin: 20px 0 20px 0;
}

.imagenNoticiaExtendida{
    max-width: 500px;
    float: left;
}

.textoIntroduccion{
/*    font-weight: bold;
    float: left;*/
}

.breadcrumbJB{
    font-style: italic;
    color: #f50f45;
    margin-top: 8px;
}

.tituloNoticia{
    margin-top: 0px;
}

.textoNoticiaInterior a{
    text-decoration: none;
    color: #535353;
}
.textoNoticiaInterior a:hover{
    text-decoration: none;
    color: #f74e04;
}

.mas-noticias-banner{
    margin: 5px 0 5px 3px;
    list-style-image: url("../img/template/flecha-roja-c.jpg");
}
.mas-noticias-banner a{
    text-decoration: none;
    color: #000000;
}
.mas-noticias-banner a:hover{
    color: #c40000;
}

@media screen and (max-width: 500px) {
    .disminuir-banner img {
        height: 70px;
    }
}

hr{
    margin: 2px 0px 3px 0px;
}


.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.news-item img{
    max-width: 65px;
    max-height: 65px;
    margin-right: 8px;
}

.articulo-normal img{
    border-radius: 4px;
    margin: 0 auto;
    /*max-height: 125px;
    width: 100%;*/
}

.articulo-noticia img{
    border-radius: 4px;
    max-height: 125px;
    width: 100%;
}

.banner-interfisa img{
    height: 270px;
    width: 100%;
}

.banner-abajo img{
    border-radius: 4px;
    max-height: 125px;
    width: 100%;
}

a.navbar-brand{
    color: #ffffff;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    /*max-height: 330px;*/
    max-height: 320px;
    width: 660px;
}

#share-buttons img {
    width: 30px;
    height: 30px;
    padding: 0px;
    border: 0;
    box-shadow: 0;
    margin-top: -35px;
} 

.buscarLupa { 
    background-image: url(http://economiavirtual.com.py/web/img/lupa.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 30px;
    height: 25px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
}

.buscador input{
    margin-top: 4px;
}

/* unfortunate hack since Webkit has an issue with Margin-top */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .buscador input{
    margin-top: -1px;
}

}


.botonBuscador{
    margin-top: 10px;
}

.ocultar-imagen img{
    display: none;
}

/*ADM estilos del administrador*/
.titulo-adm{
    color: #245274;
    margin-bottom: 10px;
}


.banner-abajo img {
    max-height: 600px;
}

.articulo-noticia img {
    max-height: 600px;
}

.active img{
    margin: 0 auto;
}


.tituloSlider {
        font-size: 24px;
}

.logo{
    height: 85px;
    width: auto;
}

div.pluginButton{
    height: 100px;
    width: 100px;
}





/*CSS media query PARA PANTALLAS MENORES A 1180*/
@media screen and (max-width: 1180px) {

    .contenedor{
        width: 100%;
        margin: 0 auto;
    }

}


@media screen and (min-width: 1181px) {

    .contenedor{
        width: 88%;
        margin: 0 auto;
    }


} /*@media (max-width: 600px) {*/


@media screen and (max-width: 999px) {

    .menuNegro{
        max-height: 44px;
    }   

    
    .logo{
        width: 70%;
        height: auto;
    }

    .facebook {
        display: none !important;
        margin-bottom: 5px;
    }

    .emailShare{
        display: none;
    }

    .iris-cel, .itapua-cel, .feliciana, .uip, .parafood-cel, .yoayu-cel, .cafe-cel, .salemma-cel, .paula-cel, .upload-cel, .frontera-cel, .proel-cel{
        display: inline-block;
        width: 49%;
    }
    .iris-cel img, .itapua-cel img, .feliciana img, .uip img, .parafood-cel img, .yoayu-cel img, .cafe-cel img, .salemma-cel img, .paula-cel img, .upload-cel img, .frontera-cel img, .proel-cel img{
        max-height: 180px;
    }
    .sudameris img {
        max-height: 300px;
    }

    .bancard-cel{
        display: inline;
    }
    .bancard-cel img{
        margin-top: 10px;
    }

    .feliciana img{
        max-height: 140px;
    }

    .laquinta-pc{
        display: none;
    }

    .feliciana-pc, .uip-pc, .parafood-pc, .yoayu-pc, .cafe-pc, .salemma-pc, .paula-pc, .upload-pc, .frontera-pc, .proel-pc, .bancard, .sudameris-pc, .sudameris-pc{
        display: none;
    }

    .banner-abajo img {
        max-height: 600px;
    }

    .articulo-noticia img {
        max-height: 600px;
    }

    .tarjetaDestacados{
        display: none;
    }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img {
        max-height: 480;
        width: 100%;
    }

    .titulo-banner {
        margin-top: 20px;
    }

    .banner-izquierdo {
        margin-bottom: 30px;
    }

    .titulo-noticia-banner {
        margin-bottom: 15px;
        font-size: 20px;
    }

    .tituloSlider {
        font-size: 40px;
    }

    .superseis{
        margin-bottom: 90px;
    }

    body{
        background-color: #ffffff;
        background-image: none;
    }  
}

@media screen and (min-width: 1000px) {

    .articulo-noticia img {
        max-height: 130px;
    }

    .whatsapp{
        display: none;
    }

    .facebook {
        margin-top: 14px;
    }

    .banner-abajo img {
        max-height: 130px;
    }

    .iris-cel, .itapua-cel, .feliciana, .uip, .parafood-cel, .yoayu-cel, .cafe-cel, .salemma-cel, .paula-cel, .upload-cel, .frontera-cel, .proel-cel, .bancard-cel, .sudameris{
        display: none;
    }

    .feliciana-pc, .uip-pc, .parafood-pc, .yoayu-pc, .cafe-pc, .salemma-pc, .paula-pc, .upload-pc, .frontera-pc, .proel-pc, .sudameris-pc{
        display: inline;
    }

    .bancard{
        margin-top: 7px;
    }

}

.ngo img, .superseis img{
    max-height: 250px;
}

.interfisa img{
    max-height: 300px;
}




.padding-top5{
    padding-top: 5px;
}









/*-------------------------------------------- Celulares --------------------------------------------------------*/
/*-------------------------------------------- Celulares --------------------------------------------------------*/
/*-------------------------------------------- Celulares --------------------------------------------------------*/



.padding-lateral-cero{
    padding-left: 0px;
    padding-right: 0px;
}

.contenedor-item-noticia-portada{
    height: auto;
    max-height: 150px;
    margin-bottom: 20px;
}

.titulo-item-portada{
    font-weight: bold;
    color: #4e4e4e;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 16px;
}

hr.divisor-item-noticia{
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

hr.blanco{
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: #ffffff;
    border-width: 1px;
    border: 0;
    width: 80%;
    color: #f00;
    background-color: #f00;
    height: 0px;
}

.contenedor-publicidades{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
























/*DEFAULT*/
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}
.navbar-custom .navbar-text {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
    border-right: 1px solid #ac0610;
}
.navbar-custom .navbar-nav > li > a {
    color: #ffffff;
    border-left: 1px solid #ac0610;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #ffffff;
    /*background-color: #ac0610;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ac0610), to(#dd0815));
    background-image: -webkit-linear-gradient(top, #ac0610, 0%, #dd0815, 100%);
    background-image: -moz-linear-gradient(top, #ac0610 0%, #dd0815 100%);
    background-image: linear-gradient(to bottom, #ac0610 0%, #dd0815 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac0610', endColorstr='#ffdd0815', GradientType=0);*/
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}
.navbar-custom .navbar-toggle {
    border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #a90610;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
    background-color: #ac0610;
    color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
@media (max-width: 767) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #ac0610;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom .navbar-link:hover {
    color: #ffffff;
}

@media screen and (max-width: 500px) {
    .tituloSlider {
        font-size: 16px;
    }
    .menuNegro{
        max-height: none;
    }   
}
